
  <div class="top_colors">
    <h4><strong>TOP WEB COLORS</strong></h4>
  <%for color in @colors%>
    <div style="float:left;">
      <a href="/color/<%=color.id%>">
        <div style="margin:35px;border-radius:50%;width:70px;height:70px;background-color:#<%=color.hex%>">
        </div>
      </a>
      <%=color.urls.count%>
      <br>
      #<%=color.hex%>
      <br>
      R: <%=color.r%>
      <br>
      G: <%=color.g%>
      <br>
      B: <%=color.b%>
      <br>
      <%for url in color.urls%>

        <%display = ''%>
        <%if url.url.match('http://www.')%>
          <%display = url.url%>
          <%display[0..10] = ''%>
        <%elsif url.url.match('https://www.')%>
          <%display = url.url%>
          <%display[0..11] = ''%>
        <%elsif url.url.match('http://')%>
          <%display = url.url%>
          <%display[0..6] = ''%>
        <%elsif url.url.match('https://')%>
          <%display = url.url%>
          <%display[0..7] = ''%>
        <%else%>
          <%display = url.url%>
        <%end%>


        <h6><%=link_to display.truncate(20), url%><br></h6>
      <%end%>
    </div>
  <%end%>
</div>