<!DOCTYPE html>
<html>
<head>
  <title>Palettes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
  <div class="title">
    <h1 class="logo"><a href="/">palettes</a></h1>
    <h3>quickly visualize and analyze the color palette of a website</h3>
  </div>
  <div class="search">
  <%= form_for(:url, url: url_index_path) do |f| %>
    <%= f.text_field :url, class: 'form-control', placeholder: 'your url here...', autofocus: true%>
  <%end%>
</div>

    <%= yield %>

  </div>

</body>
</html>
