<!DOCTYPE html>
<html>
<head>
  <title>Palettes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="color_index">
      <a href="/color"><h6><strong>Hex Index</strong></h6></a>
    </div>
  <div class="container">

    <%if @home%>
      <div class="title">
        <h1 class="logo"><a href="/">palettes</a></h1>
        <h3>quickly visualize and analyze the color palette of a website</h3>
      </div>
    <%else%>
     <div class="title_sm">
        <h1 class="logo_sm"><a href="/">palettes</a></h1>
      </div>
    <%end%>


    <div class="search">
      <% flash.each do |name, msg| %>
        <h5>*<%=msg%></h5>
      <%end%>
      <%= form_for(:url, url: url_index_path) do |f| %>
      <%= f.text_field :url, class: 'search_bar', placeholder: 'your url here...',autofocus: true%>
      <%= f.select :urltype, options_for_select(['Select Category']+Urltype.pluck(:name)), class: 'form-control'%>
      

      <%end%>
    </div>

    <%= yield %>

  </div>
  <div class="footer">
    <center>
      <h4>a little rails app by <a href="http://annietang.mit.edu">annie tang</a></h4>
    </center>
    
  </div>

</body>
</html>
